<form action="/users/register" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" value=""></input><br>

  <label for="password">Password: </label>
  <input type="text" name="password" value=""></input><br>

  <input type="submit" value="Register">
</form>