<form style="display:inline;" action="/users/login" method="get">
  <button type="submit">Sign In</button>
</form>

<form style="display:inline;" action="/users/register" method="get">
  <button type="submit">Register</button>
</form>