#content {
  height:200px;
  width:300px;
}

body {
  font-family: "Arial", sans-serif;
  padding: 5px;
}

.error{
  background-color: rgb(243, 119, 119);
  padding: 5px;
}

.success{
  background-color: rgb(119, 243, 119);
  padding: 5px;
}

.list {
  margin: 20px;
}